{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jasmine": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true
    },
    "globals": {
    },
    "plugins": [
    ],
    "rules": {
        "camelcase": [2, {
            "properties": "always"
        }],
        "comma-spacing": [2, {
            "before": false,
            "after": true
        }],
        "eqeqeq": [2, "smart"],
        "indent": [2, 4, {
            "SwitchCase": 1
        }],
        "no-use-before-define": [2, "nofunc"],
        "quotes": [2, "single"],
        "semi": [2, "always"]
    }
}
